.notes_wrapper{
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .text_area{
        width: 100%;
        flex: 1;
    }
}